<ion-content class="has-header has-footer">
	<ion-bar-subheader align-title="left" class="bar-light">
    <h2 class="title">用户注册</h2>
  </ion-bar-subheader>
  <div class="list list-inset">
      <div class="item item-input">
        <input type="text" id="name" placeholder="用户名" ng-model="user.name">
      </div>
      <div class="item item-input">
        <input type="password" id="password" placeholder="密码" ng-model="user.password">
      </div>

      <div class="item item-input">
        <input type="text" id="tel" placeholder="电话" ng-model="user.tel">
      </div>
      <div class="item item-input">
        <input type="text" id="sex" placeholder="性别" ng-model="user.sex">
      </div>
      <button id="button" class="button button-full button-royal" ng-click="regBtn()">
       注册
      </button>
  </div>


</ion-content>